.container {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}

.melhores {
  min-height: 60vh;
}

.divLoading {
  display: flex;
  justify-content: center;
}

.loading {
  margin: 20px;
  text-align: center;
  font-size: 24px;
  color: #560027;
  border-bottom: 3px solid #F5A91E;
}

@media (max-width: 375px) {
  .loading {
    font-size: 20px;
  }
}

