.container {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}

.divDica {
  width: 800px;
  margin: 50px auto;
}

.divBotao {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

@media (max-width: 1000px) {
  .divDica {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .divDica {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .divDica {
    width: 400px;
    margin: 20px auto;
  }
}

@media (max-width: 450px) {
  .divDica {
    width: 300px;
  }
}

