.tituloDados {
  width: 300px;
  text-align: center;
  color: #560027;
  margin: 30px;
  border-bottom: 3px solid #F5A91E;
}

@media (max-width: 1250px) {
  .tituloDados {
    margin: 30px auto;
  }
}

@media (max-width: 400px) {
  .tituloDados {
    width: 220px;
    font-size: 22px;
  }
}

