.autores {
    min-height: 50vh;
}

.divAutores {
    width: 70%;
    margin: 50px auto;
}

.divSearch {
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divBtn {
    display: flex;
    align-self: center;
}

@media (max-width: 1300px){
    .divAutores {
        width: 80%;
    }
}

@media (max-width: 1200px){
    .divAutores {
        width: 90%;
    }
}

@media (max-width: 600px){
    form {
        display: block;
    }

    .divBtn {
        justify-content: center;
    }
}