.button {
	padding: 15px;
	width: 180px;
	background-color: #560027;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover:not(:disabled) {
	background-color: #68193c;
}

.button:disabled {
	background-color: #753953;
	cursor: not-allowed;
	opacity: 0.6;
}
